<link rel="stylesheet" href="/style.css">

<div class="topBar">
    <div class="hamburger">
        <div class="ham1"></div>
        <div class="ham1" style="width: 1.4vw;"></div>
        <div class="ham1"></div>
    </div>

    <a href="/ProjectSpace/explore" class="refs" style="margin-left: 4vw;">Explore</a>
    <a href="/ProjectSpace/about" class="refs">About</a>
    <a href="/ProjectSpace/trending" class="refs">Trending</a>

    <p class="title">PROJECT SPACE</p>

    <div class="searchBar">
        <img src="/images/search.png" alt="">
        <input type="text" placeholder="Search">
    </div>

    <div class="profilepic">
    </div>
</div>